.hoverable{
    display:inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    tranform: translateZ(0);
    transition-duration: .3s;
    transition-property:transform;
  }
  
  .hoverable:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, #013220 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }
  
  .hoverable:hover, .hoverable:active, .hoverable:focus{
    transform: translateY(-5px);
  }
  .hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
    opacity: 1;
    transform: translateY(-5px);
  }
  
  
  
  @keyframes bounce-animation {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
  
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
  }
  @media (min-width: 768px) {
    .navbar{
        text-align: center !important;
        float: none;
        display: inline-block;
        background: rgba( 22, 236, 62, 0.3 );
        box-shadow: 0 8px 32px 0 rgba(8, 247, 76, 0.37);
        backdrop-filter: blur( 6px );
        -webkit-backdrop-filter: blur( 6px );
        border-radius: 30px;
        border: 1px solid rgba(10, 243, 138, 0.18);
    }
  }

  body {
        background-image: url("images/bg1.png");
        background-repeat: no-repeat;
        background-size:cover;
    margin:0;
    padding:0;
    height:100%;
    text-align:center !important;
  }
  
.quote{
    text-align:center; font-size:50px; text-transform:uppercase; color:#0E185F; letter-spacing:1px;
    font-family:"Playfair Display", serif; font-weight:400; text-shadow: 0 0 3px #3A98B9;
    margin: 0;
  letter-spacing: -1px;
  
}
.quote2{
    text-align:center; font-size:50px; text-transform:uppercase;  letter-spacing:1px;
    font-family:"Playfair Display", serif; font-weight:400; text-shadow: 0 0 3px #3A98B9;
    margin: 0;
  letter-spacing: -1px;
}
  nav {
    background: rgba( 22, 236, 62, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 30px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-transform:uppercase;
    li {
      margin-left: 3em;
      margin-right: 3em;
      a{
        transition: .5s color ease-in-out;
      }
    }
  }
  .page-title {
    opacity: .75 !important;
  }
  
  #custom-search .search-query {
    /* padding: 15px; */
    width: 50px;
    height: 30px;
    border: 2px solid transparent;
    background-color: transparent;
    color: transparent;
    font-size: 1.2em;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    margin-bottom: 0;
  }
  
  /* Hide Text when unfocused plus fallbacks */
  #custom-search .search-query::placeholder {
    color: transparent;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  #custom-search .search-query::-webkit-input-placeholder {
    color: transparent;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  #custom-search .search-query::-moz-placeholder {
    color: transparent;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  #custom-search .search-query:-moz-placeholder {
    color: transparent;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  #custom-search .search-query:-ms-input-placeholder {
    color: transparent;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  /* Style when Search is selected */
  #custom-search .search-query:focus {
    border-radius: 50px;
    border: 2px solid #B0E0A8;
    background-color: rgba( 22, 236, 62, 0.3 );
    width: 350px;
    color: #B0E0A8;
  }
  
  /* Style for placeholder value plus fallbacks */
  #custom-search .search-query:focus::placeholder {
    color: #B0E0A8;
  }
  
  #custom-search .search-query:focus::-webkit-input-placeholder {
    color: #B0E0A8;
  }
  
  #custom-search .search-query:focus::-moz-placeholder {
    color: transparent;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  #custom-search .search-query:focus::-moz-placeholder {
    color: transparent;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  #custom-search .search-query:focus:-ms-input-placeholder {
    color: #B0E0A8;
  }
  
  /* Style for Button */
  #custom-search button {
    border: none;
    background: none;
    padding: 0;
    width: 50px;
    margin-top: -5px;
    position: relative;
    top: 2px;
    left: -48px;
    margin-bottom: 0;
    border-radius: 3px;
  }
  
  /* Font Awesome Icon Style */
  #custom-search button i {
    margin-left:-13px;
    color:#B0E0A8;
  }
  
  .login{
    
  }